.cripto-page-container {
  margin: 2.5rem;
}

@media (max-width: 768px) {
  .cripto-page-container {
    margin: 0;
  }
}

.cripto-page-container .main-info {
  margin-bottom: 2rem;
}

.cripto-page-container .symbol {
  color: rgba(255, 255, 255, 0.5);
}

.cripto-page-container .details {
  max-width: fit-content;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 1.5rem;
  padding-left: 2.5rem;
  margin-bottom: 2rem;
}

.cripto-page-container .detail {
  margin-bottom: 1rem;
}

.cripto-page-container h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: .2rem;
}

